<%= form_with(model: @user, local: true) do |form| %>

  <% if @user.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>

      </ul>
    </div>

  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>



  <div class="field">
    <%= form.label :image %>

    <% if @user.image.attached? %>
      <%= image_tag (@user.image.variant(resize: "150x150")) %><br>
    <% end %>

    <%= form.file_field :image , accept: 'image/png,image/gif,image/jpeg' %><br>
    <small><i>Only Select png or jpeg Files</i></small>
  </div>

  <h1>Add Devices</h1>

  <% @user.devices.each do |device| %>
    <% if device.device_image.attached? %>
     <%= image_tag (device.device_image.variant(resize: "150x150")) %><br>
    <% end %>
  <% end %>

  <!-- Add Multiple Devices using cocoon gem -->

  <%= form.fields_for :devices do |device| %>
  
    <%= render 'device_fields', f: device  %>
    
  <% end %>

  <div class='links'>
    <%= link_to_add_association 'add Device', form, :devices %>
  </div>

  <!-- ---------------------------------------------------------------- -->
  
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
